# server
src/server/obj/*
src/server/bin/*

# Agent SQLite database
src/agents/linux/agent.db*
src/agents/linux/obj/*
src/agents/linux/bin/*

# Environment variables
.env
.env.local
.env.*.local
docker-compose.yml
src/server/remember.db*
src/server/logs.db*

